name: Test Environments

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [nodejs, go, rust, python, bun, tools]
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27

      - name: Test ${{ matrix.target }}
        run: ./scripts/test-local.sh ${{ matrix.target }}
